<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804833210857-o1ki03pqp6hd8ampm07eodj0nfqoru3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804833210857-o1ki03pqp6hd8ampm07eodj0nfqoru3b</string>
	<key>API_KEY</key>
	<string>AIzaSyDNFKvBBFUqSnmbrpN9bh54SGrds6PXCtM</string>
	<key>GCM_SENDER_ID</key>
	<string>804833210857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.defiwallet.dev</string>
	<key>PROJECT_ID</key>
	<string>defi-wallet-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>defi-wallet-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804833210857:ios:232632063893d532f79b78</string>
</dict>
</plist>