//
//  macOSDevelopment.xcconfig
//  DefiWallet
//
//  Created by Brandon Shaw on 2/10/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUILD_NUMBER = 1

MARKETING_VERSION = 0.0.1

DISPLAY_NAME = DefiWallet Dev

PRODUCT_BUNDLE_IDENTIFIER = com.defiwalletmac.dev

ICON_ASSET = AppIcon-Dev

// Web3 URL's
ETH_NODE_WWS_URL = b8a2c97baf6d1f1c575ebd0e/eth/ropsten/ws

POLYGON_NODE_WWS_URL = b8a2c97baf6d1f1c575ebd0e/polygon/mainnet

BSC_NODE_WWS_URL = b8a2c97baf6d1f1c575ebd0e/bsc/mainnet/archive

AVAX_NODE_WWS_URL = b8a2c97baf6d1f1c575ebd0e/avalanche/testnet/ws
